@font-face {
	font-family: 'Ubuntu';
	src: url('/fonts/ubuntu-font-family-0.83/Ubuntu-L.ttf');
}

@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

body {
	width: 1200px;
	height: 2080px;
	margin: auto;
}

.wrapper {
	margin: auto auto;
	padding-top: 77px;
	width: 900px;
	height: 2080px;
}

.header {
	margin: 0 auto 103px;
}

.nav {
	margin-left: 200px;
}

.nav li > a {
	text-decoration: none;
	color: #626262;
	text-transform: uppercase;
}

.nav li:hover a {
	color: pink;
	transform: rotate(180deg);
	transform: scale(2);
}

.nav li {
	margin-right: 80px;
	display: inline-block;

}

.main > div {
	width: 420px;
	display: inline-block;
}

.festival,
.dream,
.topsongs {
	margin-right: 60px;
}

img {
	margin-bottom: 32px;
}

h4 {
	margin-bottom: 32px;
	color: #b4ad9e;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin-bottom: 30px;
	color: #626262;
}

p {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
	line-height: 24px;
	margin-bottom: 105px;
}

button {
	text-align: center;
	width: 164px;
	margin-left: 368px;
	height: 62px;
	font-size: 20px;
	color: #626262;
	background-color: none;
}

